@use 'variables';

// Permite crear un flex con valores variables.
@mixin caja-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Permite realizar el responsive
@mixin desktop {
    @media screen and (min-width: variables.$medium) {
        @content
    }
}